<script type="application/ld+json">
{"@context":"https://schema.org","@graph":[
 {"@type":"GroceryStore","name":"Fruit Center Marketplace – Hingham","telephone":"+1-781-749-7332","url":"https://www.fruitcentermarketplace.com/","sameAs":["https://www.instagram.com/fruitcenter/"],
  "address":{"@type":"PostalAddress","streetAddress":"79 Water Street","addressLocality":"Hingham","addressRegion":"MA","postalCode":"02043","addressCountry":"US"},
  "openingHoursSpecification":[{"@type":"OpeningHoursSpecification","dayOfWeek":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"opens":"08:00","closes":"19:00"}]},
 {"@type":"GroceryStore","name":"Fruit Center Marketplace – Milton","telephone":"+1-617-696-5274","url":"https://www.fruitcentermarketplace.com/","sameAs":["https://www.instagram.com/fruitcenter/"],
  "address":{"@type":"PostalAddress","streetAddress":"10 Bassett Street","addressLocality":"Milton","addressRegion":"MA","postalCode":"02186","addressCountry":"US"},
  "openingHoursSpecification":[{"@type":"OpeningHoursSpecification","dayOfWeek":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"opens":"08:00","closes":"19:00"}]}
]}
</script>
